<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类管理</title>
    <!-- layui.css -->
    <link href="../public/layui/css/layui.css" rel="stylesheet" />
    <link href="../public/css/admin/classification.css" rel="stylesheet" />
    <!-- layui.js -->
    <script src="../public/layui/layui.js"></script>
    <script src="../public/js/admin/users.js"></script>

</head>
<body>

<fieldset id="dataConsoleadd" class="layui-elem-field layui-field-title">
    <legend>用户列表</legend>
</fieldset>

<div class="layui-field-box">
    <div id="dataContent" class="">
        <!--内容区域 ajax获取-->
        <table style="" class="layui-table" lay-even="">
            <colgroup>
                <col width="150">
                <col width="250">
                <col width="150">
                <col width="150">
                <col width="90">
                <col width="90">
            </colgroup>
            <thead>
            <tr id="list_title">
                <th>ID</th>
                <th>添加时间</th>
                <th>名称</th>
                <th>密码</th>
                <th>性别</th>
                <th>头像地址</th>
                <th>管理员</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="history_income_list">
            {% for user in users %}

            <tr>
                <td style="text-align: center">{{user._id.toString()}}</td>
                <td style="text-align: center">{{user.addTime|date('Y年m月d日 H:i:s', -8*60)}}</td>
                <td style="text-align: center">{{user.account}}</td>
                <td style="text-align: center">{{user.password}}</td>
                <td style="text-align: center">{{user.sex}}</td>
                <td style="text-align: center">{{user.avatar}}</td>
                <td style="text-align: center">
                    {% if user.isAdmin %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                <td style="text-align: center">
                    <button class="layui-btn layui-btn-small layui-btn-danger" id="deleteuser" onclick="deleteuser('{{user._id.toString()}}')" ><i class="layui-icon">&#xe640;</i></button>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="pageNav"></div>
    </div>
</div>

</body>
</html>