
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>个人博客网站</title>
    <!--Layui-->
    <link href="../public/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="../public/css/main/global.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="../public/css/main/home.css" rel="stylesheet" />
</head>
<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- QQ互联登陆 -->
            <!--<a href="javascript:;" class="blog-user">-->
                <!--<i class="fa fa-qq"></i>-->
            <!--</a>-->
            <!--<a href="javascript:;" class="blog-user layui-hide">-->
                <!--<img src="../public/images/main/Absolutely.jpg" alt="Absolutely" title="Absolutely" />-->
            <!--</a>-->
            <!-- 名字 -->
            <a class="blog-logo" href="home.html">名字</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item layui-this">
                    <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/main/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/main/resource"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/main/timeline"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/main/Messagewall"><i class="fa fa-info fa-fw"></i>&nbsp;留言墙</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- canvas -->
        <canvas id="canvas-banner" style="background: #393D49;"></canvas>
        <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
        <script type="text/javascript">
            var canvas = document.getElementById('canvas-banner');
            canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
            if (screen.width >= 992) {
                canvas.height = window.innerHeight * 1 / 3;
            } else {
                canvas.height = window.innerHeight * 2 / 7;
            }
        </script>
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
            <div class="blog-main">
                <!-- 网站公告提示 -->
                <div class="home-tips shadow">
                    <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                    <div class="home-tips-container">
                        {% for notice in notices %}
                        <span style="color: #009688">{{notice.name}}</span>
                        {% endfor %}
                    </div>
                </div>
                <!--左边文章列表-->
                <div class="blog-main-left">
                    {% for article in articlelist %}
                    <div class="article shadow">
                        <div class="article-left" id="cover_left">
                            {% if article.cover %}
                            <img src="{{article.cover}}" alt="封面" />
                            {% else %}
                            <img src="../public/images/main/cover/201703181909057125.jpg" alt="封面" />
                            {% endif %}
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="/main/detail?id={{article._id.toString()}}">{{article.title}}</a>
                            </div>
                            <div class="article-abstract">
                                {{article.abstract}}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i> {{article.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span>
                            <span class="article-author"> <i class="fa fa-user"></i> {{article.user.account}}</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#"> {{article.category.name}}</a></span>
                            <span class="article-viewinfo"> <i class="fa fa-eye"></i>&nbsp;0</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{article.views}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--右边小栏目-->
                <div class="blog-main-right">
                    <div class="blogerinfo shadow">
                        {% if userInfo._id %}
                        <!--登陆后的用户信息-->
                        <fieldset class="layui-elem-field" id="userInfoBox">
                            <legend>用户信息</legend>
                            <div class="userInfoBox" id="userInfo">

                                {% if userInfo.isAdmin %}
                                <img id="headimage" src="{{userInfo.avatar}}">
                                <p id="p_username"><span class="colDark">{{userInfo.account}}</span></p>
                                <p id="p_title">
                                    <span class="colDanger">你好，管理员！</span>
                                    <a href="/admin/main">进入管理</a>
                                </p>
                                {% else %}
                                <img id="headimage" src="{{userInfo.avatar}}">
                                <p id="p_username"><span class="colDark">{{userInfo.account}}</span></p>
                                <p id="p_title"><span class="colDanger">你好，欢迎光临我的博客！</span></p>
                                {% endif %}
                                <p id="p_logout"><span class="colDark"><a href="javascript:;" id="logout">退出</a></span></p>
                            </div>
                        </fieldset>
                        {% else %}
                        <!--登陆-->
                        <fieldset class="layui-elem-field" id="loginBox"  >
                            <legend>登录</legend>
                            <div class="layui-field-box">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">账号</label>
                                        <div class="layui-input-inline pm-login-input">
                                            <input type="text" name="account" lay-verify="account" placeholder="请输入账号" value="lyblogscn" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">密码</label>
                                        <div class="layui-input-inline pm-login-input">
                                            <input type="password" name="password" lay-verify="passWord" placeholder="请输入密码" value="111111" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div>
                                            <button class="layui-btn"  type="submit" lay-submit="" lay-filter="formUpdateLog">登录</button>
                                            <p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a>　</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <!--注册-->
                        <fieldset class="layui-elem-field" id="registerBox" style="display:none">
                            <legend>注册</legend>
                            <div class="layui-field-box">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">账号</label>
                                        <div class="layui-input-inline pm-login-input">
                                            <input type="text" name="account" lay-verify="account" placeholder="请输入账号" value="lyblogscn" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">密码</label>
                                        <div class="layui-input-inline pm-login-input">
                                            <input type="password" name="password" lay-verify="passWord" placeholder="请输入密码" value="111111" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">确认密码</label>
                                        <div class="layui-input-inline pm-login-input">
                                            <input type="password" name="repassword" lay-verify="repassword" placeholder="请在次输入密码" value="111111" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">性别</label>
                                        <div class="layui-input-block">
                                            <input type="radio" lay-filter="radio_n" name="sex" value="男" title="男" checked="">
                                            <input type="radio" lay-filter="radio_l" name="sex" value="女" title="女">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">头像</label>
                                        <div class="site-demo-upload">
                                            <img id="LAY_demo_upload" src="../public/images/main/Absolutely.jpg">
                                        </div>
                                        <div class="site-demo-upbar">
                                            <input type="file" name="file" class="layui-upload-file" id="test">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div>
                                            <button class="layui-btn" type="submit" lay-submit="" lay-filter="register">注册</button>
                                            <p></p>
                                            <p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a>　</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        {%endif%}
                    </div>
                    <div></div><!--占位-->
                    <div class="blog-module shadow">
                        <div class="blog-module-title">作者推荐</div>
                        <ul class="fa-ul blog-module-ul">
                            {% for recommend in recommends %}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="/main/detail?id={{recommend._id.toString()}}">{{recommend.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">最近分享</div>
                        <ul class="fa-ul blog-module-ul">
                            {% for share in shares %}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{share.content}}" target="_blank">{{share.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">一路走来</div>
                        <dl class="footprint">
                            <dt>2017年03月12日</dt>
                            <dd>新增留言回复功能！人人都可参与回复！</dd>
                            <dt>2017年03月10日</dt>
                            <dd>不落阁2.0基本功能完成，正式上线！</dd>
                            <dt>2017年03月09日</dt>
                            <dd>新增文章搜索功能！</dd>
                            <dt>2017年02月25日</dt>
                            <dd>QQ互联接入网站，可QQ登陆发表评论与留言！</dd>
                        </dl>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">后台记录</div>
                        <dl class="footprint">
                            <dt>2017年03月16日</dt>
                            <dd>分页新增页容量控制</dd>
                            <dt>2017年03月12日</dt>
                            <dd>新增管家提醒功能</dd>
                            <dt>2017年03月10日</dt>
                            <dd>新增Win10快捷菜单</dd>
                        </dl>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">友情链接</div>
                        <ul class="blogroll">
                            {% for link in links %}
                            <li><a target="_blank" href="{{link.content}}" title="{{link.title}}">{{link.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://www.lyblogs.cn">不落阁</a><span>Design By LY</span></p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备16029915号-1</a></p>
    </footer>
    <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item layui-this">
            <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="/main/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
        </li>
        <li class="layui-nav-item">
            <a href="/main/resource"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
        </li>
        <li class="layui-nav-item">
            <a href="/main/timeline"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
        </li>
        <li class="layui-nav-item">
            <a href="/main/Messagewall"><i class="fa fa-info fa-fw"></i>&nbsp;留言墙</a>
        </li>
    </ul>
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="../public/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="../public/js/main/global.js"></script>
    <!-- 本页脚本 -->
    <script src="../public/js/main/home.js"></script>
</body>
</html>