#dataConsole legend {
    text-align: center;
}
#addclass {
    text-align: center;
}
#dataConsoleadd legend {
    padding-top: 10px;
    text-align: center;
}
#list_title th {
    text-align: center;
}

